/* Global Styles */
:root {
    /* Global colors, can be changed for light mode */
    --accent: #ffc66d;
    --accent-inverted: #003992;
    /* Buttons that contain images are inverted in color for visibility, this color will match accent when inverted */
    --bg-primary: #1d1d1d;
    --bg-secondary: #141414;
    --text-primary: #fff;
    --inverted-text: #000;
    --checkmark-color: #000;
    --highlight-button-color: #424242;


    /* Graph colors */
    --edge-color: #a3bf60;
    /* Color of the links between nodes */
    --edge-hover-color: #9e7bb0;
    /* Color of the links when hovered on */
    --node-color: #ffc66d;
    /* Color of the nodes */
    --node-hover-color: #7a9ec2;
    /* Color of nodes when hovered on */
    --node-label-color: #000;
    /* Color of the text on the nodes */
    --edge-weight-color: #fff;
    /* Color of the edge weights */
    --grid-line-color: #3c3d3c;
    /* Color of the grid lines */
    --drag-node-color: #7a9ec2;
    /* Color of the nodes when dragged */
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    outline: none;
    color: var(--text-primary);
}

/* z-index values */
/*
    1 - Inactive graph container
    2 - Active graph container
    3 - Resize handles
    4 - About div
*/

body {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bg-primary);
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 10px;
    border: 2px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Inputs */
input[type="text"] {
    display: block;
    width: calc(100% - 20px);
    background: none;
    border: 1.5px solid var(--accent);
    padding: 10px;
}

/* Checkbox */
input[type="checkbox"] {
    appearance: none;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-color: #545454;
    border: none;
    border-radius: 1px;
    margin: 0px 5px 3px 15px;
}

input[type="checkbox"]:hover {
    background-color: #7e7e7e;
}

input[type="checkbox"]:checked {
    background-color: var(--accent);
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(40deg);
    width: 3px;
    /* Checkmark style */
    height: 8px;
    border: solid var(--checkmark-color);
    border-width: 0 3px 3px 0;
}

input[type="radio"] {
    appearance: none;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-color: #545454;
    border: none;
    border-radius: 50%;
    margin: 0px 5px 3px 8px;
    cursor: pointer;
}

input[type="radio"]:hover {
    background-color: #7e7e7e;
}

input[type="radio"]:checked {
    background-color: var(--accent);
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--checkmark-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Images */
img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}

/* General window styles */
/* About div - Contains the information about the application */
.aboutDiv {
    display: none;
    position: absolute;
    top: 5%;
    left: 30%;
    height: 90%;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 4;
}

/* Main container for the application, equivalent to root in React */
.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: var(--bg-secondary);
    padding: 10px;
    z-index: 1;
    overflow: visible;
}

.container p,
.aboutDiv p {
    margin: 10px;
}

/* Buttons to generate graphs */
#generateGraph,
#generateRandomButton {
    font-size: medium;
    width: calc(100% - 20px);
    color: var(--inverted-text);
    background-color: var(--accent);
    border: 1.5px solid transparent;
    border-radius: 3px;
    margin: 20px 0px 10px 0px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#generateRandomButton {
    margin-top: 5px;
}

#generateGraph:hover,
#generateRandomButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--accent);
    border: 1.5px solid var(--accent);
}

#treeTypeSelect, #methodsSelect {
    display: none;
    font-size: medium;
    width: 50%;
    color: var(--inverted-text);
    background-color: var(--accent);
    border: 1.5px solid transparent;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#methodsSelect {
    width: 40%;
    display: inline-block;
    margin-left: 10px;
}

#treeTypeSelect:hover, #methodsSelect:hover {
    background-color: transparent;
    border-color: var(--accent);
    color: var(--accent)
}

#treeTypeSelect:focus, #methodsSelect:focus {
    outline: none;
    border-color: var(--accent);
}

#treeTypeSelect option, #methodsSelect option {
    background-color: var(--bg-secondary);
    border: 1.5px solid var(--accent);
    color: #fff;
}

/* Contains the inputs for random graph generation */
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-row input[type="text"] {
    width: 15%;
    margin-right: 10px;
}

.input-row label {
    margin-right: 5px;
    width: 30%;
}

/* Contains the list of graphs */
.outliner {
    margin-top: 15px;
    display: block;
    width: 100%;
    overflow:auto;
    box-sizing: border-box;
}

h3 {
    color: var(--accent);
}

.outliner button,
h2 button {
    display: inline-flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: none;
    border: none;
    border-radius: 3px;
    margin: 0;
}

.outliner button:hover,
h2 button:hover {
    background-color: var(--highlight-button-color);
}

.outliner img {
    width: 16px;
    height: 16px;
    filter: invert(1);
}

/* Graph generator menu within outliner */
.graphGenerator {
    height: 100%;
    padding-left:10px;
    padding-right: 10px;
    overflow: auto;
}

.graphNameTitle {
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    padding-left: 10px;
}


/* Graph window styles */
/* Show/Hide/Delete Div - Contains the entry of the graph in the outliner */
.showHideDeleteDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border-radius: 3px;
}

.showHideDeleteDiv:hover {
    background-color: var(--bg-primary);
}

.showHideDeleteDiv button {
    display: inline-flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: none;
    border: none;
    border-radius: 3px;
    margin: 0;
}

.showHideDeleteDiv button:hover {
    background-color: var(--highlight-button-color);
}

.showHideDeleteDiv input[type='text'] {
    cursor: default;
    border: none;
    background: none;
    width: 30%;
    padding: 5px;
    border: 1px solid transparent;
}

.showHideDeleteDiv [type='text'].editable {
    cursor: text;
    border: 1px solid var(--accent);
    background-color: var(--bg-primary);
}

.showHideDeleteDiv img {
    height: 16px;
    width: 16px;
    filter: invert(1);
}

/* This is where the graph svg element is rendered */
.graphContainer {
    position: absolute;
    background-color: var(--bg-primary);
    /* If this background color is seen, then there is an error in positioning */
    border: 2px solid var(--bg-secondary);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}

/* Container the header elements of the container - Name, Use force, Grid, Rearrange nodes, methods called toggle, minimize/maximize and close */
.graphHeader {
    display: flex;
    background-color: var(--bg-secondary);
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0 5px 0 10px;
}

.graphHeader button {
    aspect-ratio: 1;
    margin: none;
    vertical-align: middle;
    align-content: baseline;
    background: none;
    border: none;
    border-radius: 3px;
}

.graphHeader button:hover {
    background: var(--highlight-button-color)
}

/* Background color of the svg element */
.graphContent {
    background-color: var(--bg-primary);
}

/* Window that displays called methods on the graph */
.methodsElem {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 30%;
    width: 100%;
    font-weight: bold;
    background-color: var(--bg-secondary);
    border-top: none;
    overflow-y: auto;
}

.methodsElem p {
    margin: 10px;
    width: 80%;
}

/* Resize handles for the graph window */
.resize-handle {
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: 3;
}

.bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

.bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

/* Resize handle for methods element */
.top-resize-handle {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    cursor: ns-resize;
    z-index: 3;
}

/* The SVG element is where the graph is rendered */
svg {
    height: 100%;
    width: 100%;
    user-select: none;
}


.operation-panel {
    display: inline-block;
    margin-left: 10px;
    user-select: none;
}

/* Floating menu for methods */
.floating-menu {
    position: fixed;
    background-color: var(--bg-secondary);
    border: 1px solid #999;
    z-index: 3;
    padding: 4px 0;
    user-select: none;
}

.floating-menu button {
    display: block;
    height: 25px;
    width: 100%;
    text-align: left;
    background-color: var(--bg-secondary);
    border: none;
    border-radius: 0px;
    padding: 5px 15px 5px 20px;
    white-space: nowrap;
}

.floating-menu button:hover {
    background: #0a84ff;
    background: AccentColor;
    filter: none;
}

.resultLog {
    background-color: var(--bg-secondary);
    border-right: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
    width: 25%;
    position: absolute;
    right: 0;
    height: 100%;
    overflow-y: auto;
    padding: 5px 20px;
}